<%- include('includes/head.ejs'), {
    username: username,
    permisos: permisos
} %>
    <input id="busqueda" type="text" placeholder="Buscar">
    <% let count = 0 %>

    <div id="busqueda_Ajax">
        <% for (let i in lista_armas){ %>
    
            <% if(count == 0){ %>
                <div class="grid-x grid-margin-x">
            <% } %>
            <% count ++ %>
            
            <div class="cell large-3 medium-6 small-6">
                <img class="thumbnail" src="/uploads/<%=lista_armas[i].URL%>">
                <a href="/armas_lista/<%=lista_armas[i].IDArma%>"><h5><%=lista_armas[i].Nombre%></h5></a>
                <p>Clase: <%=lista_armas[i].Clase%></p>
                <p>Rango: <%=lista_armas[i].Rango%></p>
                <p>Daño: <%=lista_armas[i].Daño%></p>
                <p>Manejo: <%=lista_armas[i].Manejo%></p>
                <p>
                    <a class="button">Editar</a>
                    <button class="button">Eliminar</button>
                </p>
            </div>
    
            <% if(count == 4 || i == lista_armas.length){ %>
                </div>
                <% count = 0 %>
            <% } %>
        <% } %>
    </div>

    <script>
        const accion_asincrona = () => {
        const valor_de_busqueda = document.getElementById('busqueda').value;

        console.log("buscando")
        //función que manda la petición asíncrona
        fetch('/armas_lista/buscar/' + valor_de_busqueda, {
            method: 'GET',
            headers: {
                'Content-Type': 'application/json',
            }
        }).then(result => {
            console.log(result)
            return result.json(); //Regresa otra promesa
        }).then(data => {
            console.log(data)
            //Modificamos el DOM de nuestra página de acuerdo a los datos de la segunda promesa
            let html =``
            let count = 0

            for (let i in data.lista_armas){
    
                if(count == 0){
                    html += `<div class="grid-x grid-margin-x">`
                }
                count ++
                
                html += `
                <div class="cell large-3 medium-6 small-6">
                    <img class="thumbnail" src="/uploads/${data.lista_armas[i].URL}">
                    <a href="/armas_lista/${data.lista_armas[i].IDArma}"><h5>${data.lista_armas[i].Nombre}</h5></a>
                    <p>Clase: ${data.lista_armas[i].Clase}</p>
                    <p>Rango: ${data.lista_armas[i].Rango}</p>
                    <p>Daño: ${data.lista_armas[i].Daño}</p>
                    <p>Manejo: ${data.lista_armas[i].Manejo}</p>
                    <p>
                        <a class="button">Editar</a>
                        <button class="button">Eliminar</button>
                    </p>
                </div>`

                if(count == 4 || i == data.lista_armas.length){
                    html += `</div>`
                    count = 0
                }
            }

            document.getElementById('busqueda_Ajax').innerHTML = html
        }).catch(error => {
            console.log(error);
        });
    };


        document.getElementById("busqueda").onkeyup = accion_asincrona
    </script>
<%- include('includes/footer.ejs') %>